[submodule "module/alamode/alamode"]
	path = module/alamode/alamode
	url = https://github.com/ttadano/alamode.git
	branch = master
	shallow = true
[submodule "module/lammps/lammps"]
	path = module/lammps/lammps
	url = https://github.com/lammps/lammps.git
	branch = release
	shallow = true
