# .coveragerc
[report]
exclude_lines =
    pragma: no cover
    pragma: no ${PLATFORM}
    @jit
    @numbautils.jit
    @numba.experimental.jitclass
    if __name__ == .__main__.:
    from nemd import
